<div class="card" *ngIf="order">
    <div class="card-body">
      <h5 class="card-title">{{ this.order.typePresta }}</h5>
      <p class="card-text">{{ this.order.designation }}</p>
      <p class="card-text">
        Durée : {{ this.order.nbDays }}
        <span *ngIf="this.order.nbDays > 1">jours</span>
        <span *ngIf="this.order.nbDays === 1">jour</span>
      </p>
      <p class="card-text">Prix : {{ this.order.unitPrice }} €</p>
      <p class="card-text">Nombre de jours : {{ this.order.nbDays }} €</p>
      <p class="card-text">Compagnie : {{ this.order.clientId.companyName }} €</p>
    </div>
  </div>